<div class="user_data">
  <div class="main_user_data">
    <%= image_tag "/user_images/#{@user.image_name}" %>
    <h2><%= @user.name %></h2>

    <div class="edit_user_data">
      <% if @user.id == @current_user.id %>
        <%= link_to("編集","/users/#{@user.id}/edit") %>
      <% end %>
    </div>
  </div>

  <div class="user_Introduce">
    <h3>～自己紹介～</h3>
    <a><%= @user.Introduce %></a>
  </div>
</div>

<div class="user_post_data">
  <div class="user_post_data_top">
    <table>
      <th class="user_post_data_top_post"><%= link_to("作成した投稿", "/users/#{@user.id}") %></th>
      <th class="user_post_data_top_likes"><%= link_to("評価した投稿", "/users/#{@user.id}/likes") %></th>
    </table>
  </div>

  <% if @user.posts.none? %>
    <p>まだ投稿していません</p>

  <% else %>
    <div class="post_index">
      <h3>投稿一覧</h3>
      <table border="2">

        <% @user.posts.each do |post| %>
          <tr>
              <th><%= image_tag "/post_images/#{post.post_image}" %></th>
              <th><%= link_to(post.post_name, "/posts/#{post.id}" ) %></th>
              <td><%= post.mini_content %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>


