<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>


<div class="map">
  <div class="map_image_japan">
    <%= image_tag '/map_images/日本地図.png' %>

    <div class="map_choice">
      <div class="map_choice_hokkaido">
        <%= link_to("蝦夷(北海道)","/蝦夷(北海道)/詳細") %>
      </div>
      <div class="map_choice_touhoku">
        <%= link_to("東北地方","/maps/東北地方") %>
      </div>
      <div class="map_choice_kanto">
        <%= link_to("関東地方","/maps/関東地方") %>
      </div>
      <div class="map_choice_hokuriku">
        <%= link_to("北陸地方","/maps/北陸地方") %>
      </div>
      <div class="map_choice_cyubu">
        <%= link_to("中部地方","/maps/中部地方") %>
      </div>
      <div class="map_choice_kinki">
        <%= link_to("近畿地方","/maps/近畿地方") %>
      </div>
      <div class="map_choice_cyugoku">
        <%= link_to("中国地方","/maps/中国地方") %>
      </div>
      <div class="map_choice_sikoku">
        <%= link_to("四国地方","/maps/四国地方") %>
      </div>
      <div class="map_choice_kyusyu">
        <%= link_to("九州地方","/maps/九州地方") %>
      </div>
      <div class="map_choice_ryukyu">
        <%= link_to("琉球(沖縄)","/琉球(沖縄)/詳細") %>
      </div>
    </div>
  </div>
</div>

<%= link_to("一覧から選ぶ","/一覧") %>
